body {
    background-color: rgb(255,220,220);
}

.cabecera {
    width: 600px;
    text-align: center;
    background-image: url(./Assets/descarga.jpg);
    background-color: lightpink;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    float: left;
}

.titulo-principal {
    font-family: Apple Chancery, cursive;
    color: deeppink;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 15px;
    margin: 15px 20px;
}

.foto {
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 50%;
    margin: 15px;
}

.info {
   width: 400px;
   height: 320px;
   float: left;
   padding: 0px 50px 0px 50px;
   border-style: dotted;
   border-color: hotpink;
   margin: 30px 100px;
   font-family: Arial, Helvetica, sans-serif;
}

.titulo-info {
    text-decoration: underline wavy hotpink;
}

.div-cita {
    width: 300px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 70px;
    clear: left;
    background-color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: hotpink 3px solid;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.692);
    width: 600px;
    padding: 10px 0px 30px 50px;
    margin: 30px 0px 30px 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.campos {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 4px;
    border: hotpink 2px solid;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario .boton {
    width: 150px;
    color: white;
    background-color: hotpink;
    border: none;
    border-radius: 4px;
    padding: 12px;
    margin-left: 180px;
    margin-top: 20px;
}

.contacto {
    width: 600px;
}

.logo {
    height: 30px;
}

#textarea {
    height: 100px;
    width: 250px;
}