body {
    background-color: rgb(255,220,220);
}

.cabecera {
    width: 600px;
    text-align: center;
    background-image: url(./Assets/descarga.jpg);
    background-color: lightpink;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    float: left;
}

.titulo-principal {
    font-family: Apple Chancery, cursive;
    color: deeppink;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 15px;
    margin: 15px 20px;
}

.foto {
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 50%;
    margin: 15px;
}

.info {
   width: 400px;
   height: 320px;
   float: left;
   padding: 0px 50px 0px 50px;
   border-style: dotted;
   border-color: hotpink;
   margin: 30px 100px;
}

.titulo-info {
    text-decoration: underline wavy hotpink;
}

.cita {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.contacto {
    width: 600px;
}

.logo {
    height: 30px;
}

#textarea {
    height: 100px;
    width: 250px;
}