@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --transparent-white: #ffffff80;
    --black: #000000;
    --pink: #fc4e8c;
    --lightblue: #09e1ef;
}

body {
    width: 100%;
    height: 100vh;
    padding-top: 80px;

    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    font-family: 'Roboto', sans-serif;
}

.main_card {
    height: 400px;
    width: 850px;
    margin: auto;
    padding: 0 40px;

    background-color: var(--transparent-white);
    box-shadow: 0 3px 4px -2px var(--black);
    border: 15px solid white;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.pricing_card {
    width: 33%;
    height: 70%;
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.pricing_card h2 {
    font-size: 18px;
    font-weight: 900;
}

.pricing_card h3 {
    font-size: 22px;
    font-weight: 900;
}

.pricing_card span {
    font-size: 43px;
    margin-left: 4px;
}

.pricing_card h5 {
    font-weight: 500;
}

.pricing_card button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 15px;

    border-radius: 8px;
    border: none;
}

#button_free {
    background-color: var(--pink);
}

#button_free:hover {
    box-shadow: 0 3px 10px -2px var(--pink);
    transition: .2s;
    cursor: pointer;
}

#button_standard {
    background-color: var(--lightblue);
}

#button_standard:hover {
    box-shadow: 0 3px 10px -2px var(--lightblue);
    transition: .2s;
    cursor: pointer;
}

#button_premium {
    background-color: var(--black);
    color: var(--white);
}

#button_premium:hover {
    box-shadow: 0 3px 10px -2px var(--black);
    transition: .2s;
    cursor: pointer;
}