* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.pop-up {
    position: relative;
    width: 432px;
    height: 399px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pop-up .boton-cierre {
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(179, 179, 179);
    border: none;
    background: none; 
}

.pop-up img {
    margin-bottom: 20px;
}

.pop-up .texto01 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 15px 10px
}

.pop-up .texto02 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 15px 85px 25px 85px;
}

.pop-up .boton-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 10px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background: #ED6755;
    color: #FFFFFF;
    box-shadow: 2px 2px 10px 1px #ED6755;
}

.pop-up .boton-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 10px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background: #2C3E50;
    color: #FFFFFF;
    box-shadow: 2px 2px 10px 1px #2C3E50;
}