/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* Header section */

header {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url(./assets/fondo-header.jpg);
    background-color: #010D00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Nav section */

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar img {
    width: 50px;
    margin-left: 20px;
}

.navBar .boton-menu {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.navBar .menu-bar {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #010D00;
    opacity: 0.9;
    text-align: center;
    transition: all .5s;
}

.navBar .menu-bar li {
    display: none;
    line-height: 30px;
    margin: 60px 0px;
    transition: all .5s;
}

.navBar .menu-bar li a {
    color: #fff;
    font-size: 30px;
}

.navBar .menu-bar li a.active, .navBar .menu-bar li a:hover{
    color: #72BF4E;
    text-shadow: 0px 0px 5px #fff;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .menu-bar{
    height: 100vh;
}

#check:checked ~ .menu-bar li {
    display: block;
}

/* Banner section */

.banner {
    display: flex;
    flex-flow: column;
}

.banner .banner-texto {
    color: #fff;
    text-align: center;
}

.banner .banner-texto h1 {
    font-size: 45px;
    margin-bottom: 20px;
    padding: 0px 25px;
}

.banner .banner-texto p {
    font-size: 22px;
    margin-bottom: 30px;
    padding: 0px 25px;
}

.banner .banner-botones .boton {
    display: flex;
    flex-flow: column;
    font-size: 25px;
    padding: 5px 10px;
    margin: 25px 10px;
    background-color: none;
    border: 3px solid #fff;
    border-radius: 20px;
    color: #fff;
}

.banner .banner-botones .boton:hover {
    box-shadow: 0px 0px 10px 3px #fff;
    transition: .2;
    cursor: pointer;
}

.banner .banner-imagen {
    display: none;
}

/* Product section */

.product_section {
    width: 100%;
    height: auto;
    padding: 30px;

    background-color: #022601;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product_section h2{
    font-size: 30px;
    color: #fff;
}

.product_section img {
    width: 60%;
    margin: 20px 0;
}

.product_container {
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_container p {
    text-align: center;
    color: #fff;

    margin-bottom: 5px;
}

.product_container .price {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.726);
    padding-bottom: 10px;
}

.product_container button {
    padding: 10px 20px;
    
    color: rgba(255, 255, 255, 0.726);

    background: none;
    border: 2px solid #fff;
    border-radius: 15px;
}

.product_container button:hover {
    box-shadow: 0px 0px 10px 3px #fff;
    transition: .2;
    cursor: pointer;
}

/* Banner 2 section */

.banner_2 {
    width: 100%;
    height: 400px;

    background-color: #02590F;

    overflow: hidden;
}

.banner_2 img {
    width: 100%;
    height: 400px;

    object-fit: cover;
    object-position: center;

    opacity: 0.8;
}

/* Contact section */

.contact_section {
    width: 100%;
    height: auto;
    padding: 20px 10px;

    background: #022601;

    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_section .contact_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact_text_container h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.contact_text_container .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_text_container .contact_component {
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.726);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_text_container .contact_component i {
    margin: 10px 0;
    color: #fff;
}

.contact_section .map_container {
    margin: 15px;
}

.contact_section .map_container iframe {
    width: 100%;
    height: 300px;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    padding: 30px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #022601;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.footer_logo img{
    width: 70px;
}

.footer_logo h2 {
    font-size: 30px;
    color: #fff;
}

.footer_social  i{
    font-size: 25px;
    color: #fff;

    margin: 0px 15px;
}


@media screen and (min-width:768px) {
    
    header {
        height: auto;
        min-height: 100vh;
    }

    /* Nav section */

    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;
    }

    .boton-menu {
        display: none;
    }

    .navBar .menu-bar {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .navBar .menu-bar li {
        display: inline-block;
        line-height: 100px;
        margin: 0px 20px;
        transition: none;
    }

    .navBar .menu-bar li a {
        font-size: 25px;
    }

    /* Banner section */

    .banner {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        margin-top: 50px;
    }

    .banner .banner-texto {
        width: 60%;
    }

    .banner .banner-imagen {
        display: inline-block;
        width: 30%;
    }

    .banner .banner-imagen img {
        width: 100%;
    }

    .banner .banner-botones {
        flex-flow: row wrap;
    }

    .banner .banner-botones .boton {
        display: inline-block;
    }

    /* Product section */

    .product_container .text_container h2{
        margin: 50px;

        font-size: 40px;
    }

    .product_component {
        display: flex;
        flex-flow: row wrap;
    }

    .product_container {
        width: 30%;
    }

    .product_container img {
        width: 60%;
    }

    .product_container img:hover {
        width: 80%;
        cursor: zoom-in;
        transition: width 0.5s;
    }
    
    /* Contact section */

        
    .contact_section {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact_section .contact_text_container {
        width: 40%;
        align-items: center;
    }

    .contact_text_container h2 {
        font-size: 35px;
    }

    .contact_text_container .contact_container {
        align-items: flex-start;
        padding-left: 40px;
    }

    .contact_text_container .contact_component {
        flex-direction: row;
        align-items: center;
    }

    .contact_text_container .contact_component i {
        padding: 10px;
    }

    .contact_section .map_container {
        width: 40%;
        margin: 15px;
    }

    .contact_section .map_container iframe {
        height: 300px;
        width: 100%px;
    }

}